.product-card {
  width: 300px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 16px;
  margin-bottom: 20px;
}

.product-card:hover {
  transform: translateY(-6px);
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(66, 1, 1, 0.4);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-card .label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 12px;
}

.product-card h3 {
  font-size: 18px;
  margin: 8px 0 4px;
  font-weight: 700;
}

.product-card p {
  margin: 4px 0;
  font-size: 14px;
  color: #333;
}

.product-card p:last-child {
  font-weight: bold;
  margin-top: 8px;
}

.product-card button{
  margin: 8px 15px;
  
}